html {
	font-size: 70%;
}

.app {
	position: relative;
}

#canvasses {
	height: 100vh;
}

#sidebar {
	position: absolute;
	right: 0;
	top: 0;
	width: 350px;
	height: 100%;
	margin: 0;

	background-color: white;
}

.form_container {
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;

	margin: 1em;
}

.form_container > div {
	margin: 0;
	margin-bottom: 1.5em;
	width: 100%;
}

.form_container > div > .component_button {
	width: 100%;
}

.component_button {
	margin: 0;
}

.component_input {
	width: 100%;
}

.component_slider {
	margin: 0;
}

.component_textarea {
	width: 100%;
	height: 100px;
}

.component_button[header=yes] {
	border-radius: 0;
}