body {
	margin: 0;
}

.page-head {
	height: 0;
	overflow: hidden;
}

#goto {
	display: none;
}

.app {
	border: none;

	filter: blur(0);
}

.app::after {
	display: none;
}

footer {
	height: 0;
	margin: 0;
	overflow: hidden;
}

main {
	display: none;
}