* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	margin: 50px;
}

footer {
	margin-top: 3rem;
}

.page-head_nav {
	font-size: 3rem;
	display: flex;
	margin: .5em 1em;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.page-head_nav a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 1em;
	border-radius: .5em;
}

.page-head_nav a:hover {
	background-color: lightgrey;
}

/* Application */

.app {
	display: flex;
	flex-direction: column;
	border: 1px black solid;
	overflow: hidden;
}

#bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	font-size: 2.4rem;

	justify-content: center;
	align-items: center;
	width: 100%;
	box-shadow: 0px 5px 15px 6px #acacac;
}

#bar h3 {
	margin-left: 1em;
	margin-right: 1em;
}

#bar img {
	height: 3.5em;
}

/* Toolbar */

#toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.toolbar_button {
	width: 4em;
	height: 4em;
	background-position: center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0.5em;
}

.toolbar_button[selected=yes] {
	background-color: #CCC;
}

.toolbar_button:hover {
	background-color: lightgrey;
}

.toolbar_separator {
	width: 2em;
	height: 4em;
	background-position: center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Components */

.component_button {
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 4rem;

	padding: .5em;
	color: white;
	border-radius: .5em;
	margin: .5em;
}

/* Play Buttons Icons */

.play_button_icon {
	font-size: .7em;

	width: 1em;
	height: 1em;
	margin: 0.5em;
	background-image: url(icons/controls.png);
	background-size: 400% 100%;
}

.play_button_icon[icon="0"]{ background-position: 0 0; }
.play_button_icon[icon="1"]{ background-position: -10px 0; }
.play_button_icon[icon="2"]{ background-position: -20px 0; }
.play_button_icon[icon="3"]{ background-position: -30px 0; }
