* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
	margin: 2em;

	min-width: 324px;
}

footer {
	font-size: 1.3rem;
	margin-top: 3rem;
}

.page-head_nav {
	font-size: 1.4rem;
	display: flex;
	margin: .5em 1em;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.page-head_nav a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 1em;
	border-radius: .5em;
}

.page-head_nav a:hover {
	background-color: lightgrey;
}

/* Application */

.app-container {
	position: relative;
}

.app {
	display: flex;
	flex-direction: column;
	border: 1px black solid;
	overflow: hidden;

	min-width: 322px;

	filter: blur(5px);
}

.app::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.549);
}

#goto {
	font-size: 1.6rem;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	color: white;

	cursor: pointer;
}

#goto h2 {
	margin: 2em;
	text-decoration: underline;
}

#bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	font-size: 1rem;

	justify-content: center;
	align-items: center;
	width: 100%;
	box-shadow: 0px 5px 15px 6px #acacac;
}

#bar h3 {
	margin-left: 1em;
	margin-right: 1em;
}

.logo {
	height: 3.5em;
}

/* Toolbar */

#toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.toolbar_button {
	width: 4em;
	height: 4em;
	background-position: center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0.5em;
}

.toolbar_button[selected=yes] {
	background-color: #CCC;
}

.toolbar_button:hover {
	background-color: lightgrey;
}

.toolbar_separator {
	width: 2em;
	height: 4em;
	background-position: center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Playbar */

#playbar {
	margin: .5rem;
	align-items: center;
	justify-content: center;
}

.play_slider {
	margin-left: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Components */

.component_button {
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 1.5rem;

	width: fit-content;

	background-color: #CCC;

	padding: .5em;
	border-radius: .5em;
}

.component_button:hover {
	background-color: lightgrey;
}

.component_button[header=yes] {
	display: block;

	width: 100%;
	margin: 0;
	margin-bottom: 1em;

	background-color: black;
	color: white;

	text-align: center;
	font-weight: bold;
}

.component_input {
	font-size: 1.3rem;

	width: 100%;
	height: 2.5em;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

.component_slider {
	font-size: 1.6rem;

	position: relative;
	width: 250px;
	margin-bottom: 2em;
}

.component_slider_graphic {
	width: 250px;
	height: 40px;
	cursor: pointer;
}

.component_slider_pointer {
	position: absolute;
	top: 45px;

	width: 15px;
	height: 10px;
}

.mini_button {
	font-size: 1.6rem;

	border: 0.1rem black solid;
	border-radius: 0.3em;
	padding: .5em;
	margin: .3em;

	text-decoration: none;
	color: black;

	cursor: pointer;
}

/* Play Buttons Icons */

.play_button_label {
	color: white;
}

.play_button_icon {
	font-size: .7em;

	width: 1em;
	height: 1em;
	margin: 0.5em;
	background-image: url(icons/controls.png);
	background-size: 400% 100%;
}

.play_button_icon[icon="0"]{ background-position: 0 0; }
.play_button_icon[icon="1"]{ background-position: -10px 0; }
.play_button_icon[icon="2"]{ background-position: -20px 0; }
.play_button_icon[icon="3"]{ background-position: -30px 0; }

/* Canvases & Properties Box */

#canvasses {
	height: 50vh;
	overflow: hidden;
	position: relative;
}

#canvasses canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#sidebar {
	font-size: 1.6rem;

	height: 20vh;
	overflow-y: scroll;
	overflow-x: hidden;

	margin: 1em;
}

.sidebar-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-items: center;
	justify-content: space-between;
}

/* Modal */

#modal_container{
	display: none;
	position: absolute;
	width: 100%; height: 100%;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#modal_container[show=yes]{
	display: block;
}

#modal_bg{
	position: absolute;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.8);
}

#modal{

	position: absolute;
	top:0; left:0; right:0; bottom:0;
	margin: auto;

	width: 600px; height: 300px;
	padding: 10px;
	background: #ddd;
}

#modal_close{
	width: 120px;
	font-weight: 100;
	color: #777;
	cursor: pointer;
}

#modal_close:hover{
	color: #888;
}

#modal_page{
	margin: 15px;
	font-size: 25px;
	font-weight: 100;
	color: #333;
}

#modal iframe{
	border: none;
}
