* {
  margin:0%;
  padding: 0;
  box-sizing: border-box;
}
body{
background: rgb(153,172,255);
background: radial-gradient(circle, rgba(153,172,255,1) 0%, rgba(220,220,255,1) 100%);
}
.Bug-report{
  width: 600px;
  background:#fcfcfc;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  height: 730px;
  font-family: 'calibri';
  color: rgb(0, 0, 0);
  box-shadow: 7px 13px 37px rgb(0, 0, 0);
}
.Bug-report .title {
font-size: 35px;
margin-bottom: 20px;
color: #000000;
}
.Controls1{
	margin-block-start: 20px;
}
.Controls1, .Controls {
  width: 100%;
  background:#fdfdfd;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 12px;
  border: 3px solid #081366;
  font-family: 'calibri';
  font-size: 16px;
  line-height: 10px;
	font-weight: bold;
}
.Bug-report p{
  height: 40px;
  text-align: justify;
  font-size: 18px;
  margin-top: 20px;
  line-height: 25px;
  letter-spacing: 0.5px;
	font-weight: bold;
}
.Bug-report p4{
  text-align: justify;
  font-size: 12px;
	font-weight: bold;
}
.Bug-report a {
  color: #111592;
  font-size:18px;
  text-decoration: underline;
	font-weight: bold;
}
.Bug-report a:hover {
  color: #111592;
  text-decoration: none;
}
.Bug-report .Bottoms {
  width: 100%;
  background: #111592;
  border: none;
  padding: 12px;
  color: rgb(255, 255, 255);
  margin: 16px 0;
  font-size: 16px;
	font-weight: bold;
}
.Bug-report div {
	text-align: justify;
}

